body{
	margin:0;
	padding: 0;
}
#header{
	width: 100%;
	height: 700px;
}

.cubierta{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	background-color: rgba(0,0,0,0.4);
	width: 100%;
	height: 98.5%;
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 4s;
	animation-name: fadein;
	animation-duration: 4s;
}
#nombre{
	color: white;
	text-align: center;
	position: relative;
	margin-top: 23%;
	font-size: 275%; 
	width: 100%;
	-webkit-animation-name: fadeinNom;
 	-webkit-animation-duration: 3s;
  	animation-name: fadeinNom;
  	animation-duration: 3s;
}
.cubierta h2{
	color: white;
	text-align: center; 
	position: relative; 
	margin-top: 2.5%;
	-webkit-animation-name: fadeinNom;
 	-webkit-animation-duration: 4s;
  	animation-name: fadeinNom;
  	animation-duration: 4s;
}
#nombrecito{
	color: white;
	text-align: center;
	position: relative;
	margin-top: 23%;
	font-size: 180%; 
	width: 100%;
	-webkit-animation-name: fadeinNom;
 	-webkit-animation-duration: 3s;
  	animation-name: fadeinNom;
  	animation-duration: 3s;
}
.cubierta h4{
	color: white;
	text-align: center; 
	position: relative; 
	margin-top: 2.5%;
	-webkit-animation-name: fadeinNom;
 	-webkit-animation-duration: 4s;
  	animation-name: fadeinNom;
  	animation-duration: 4s;
}
.imgSlide{
	position: relative;
	padding-left: 0;
	left: 0;
	width: 100%;
	padding-bottom: 1%;
}
.slide img{
	width: 100%;
	-webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.75);
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 4s;
	animation-name: fadein;
	animation-duration: 4s;
}
.slide{
	width: 100%;
}

@-webkit-keyframes fadein {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadein {
  from {opacity: 0} 
  to {opacity:1}


}

@-webkit-keyframes fadeinNom {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeinNom {
  from {opacity: 0} 
  to {opacity:1}


}